---
import getFirst7BlogPosts from "./getFirst7BlogPosts";
import PostCard from "./PostCard/index.astro";

const posts = await getFirst7BlogPosts();
---

<section class="py-24 relative">
	<div class="w-full max-w-7xl px-6 lg:px-8 mx-auto">
		<div class="flex items-center justify-center flex-col gap-5 mb-14 text-base-content">
			<h2 class="font-manrope font-bold text-4xl text-center">
				The Art of Minimalism: Living with Less
			</h2>

			<p class="text-base font-normal max-w-3xl mx-auto text-center opacity-80">
				How Simplifying Your Life Can Lead to Greater Happiness and Fulfillment
			</p>
		</div>

		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mb-14">
			{
				posts?.map(({ slug, title, headerImage }, index) => (
					<PostCard
						isPrimary={index === 0}
						href={"posts/" + slug}
						title={title}
						imageSrc={headerImage.url}
						imageWidth={headerImage.width}
						imageHeight={headerImage.height}
					/>
				))
			}
		</div>

		<button class="btn w-full btn-lg">Load More</button>
	</div>
</section>
